---
import "../styles/global.css";
import Header from './partials/Header.astro';

const { title = 'サイト名' } = Astro.props;
---
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="bg-base-100 text-base-content min-h-screen flex flex-col font-['Inter'] pb-24">
    <Header />
    <main class="container mx-auto flex-1 px-4 py-6">
      <slot />
    </main>
  </body>
</html>
